/* Import Space Grotesk font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(45deg, #ffffff 0%, #bfd7ff 100%);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo.krezzo {
  width: auto;
  max-width: 350px;
  height: auto;
  object-fit: contain;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #007affaa);
}
